
<div class="comments">
  {{#each this}}
  <section class = "one-comment">
    <p id="break">------------</p>
    <div class="comment">
      <div class="text">
        {{comment_text}}
      </div>
      <div class="meta">
        -- {{user.username}}, {{format_date created_at}}
      </div>
    </div>
  </section>
  {{/each}}
</div>