
<div class="comments">
  {{#each this}}
  <p id="break">------------</p>
  <section class="comment">
    <div class="text">
      {{comment_text}}
    </div>
    <div class="meta">
      -- {{user.username}}, {{format_date created_at}}
    </div>
  </section>
  {{/each}}
</div>