
<article class="post">
    <div class="title">
        <a href="/dashboard/edit/{{id}}" class="edit-link">{{title}}</a>
        <p class="meta">
        {{format_date created_at}}
        </p>
    </div>
</article>