
<header>
    <nav>
        <a href = "/">Home</a>
        
        {{#if loggedIn}}
            <a href = "/dashboard">Dashboard</a>
            <button id = "logout" class = "btn-no-style">Log Out</button>
        
        {{else}}
            <a href = "/login">Login</a>
    
        {{/if}}

    </nav>
    <h1>
        <a href="/dashboard">The Tech Blog</a>
    </h1>
</header>

<form class="login-form">
    <div class = "title">Login</div>

    <div class = "input">
        <label for="username-login">Username</label>
        <input type="text" id="username-login" />
    </div>

    <div class = "input">
        <label for="password-login">Password</label>
        <input type="password" id="password-login" />
    </div>

    <div>
        <button type="submit">Login</button>
    </div>

    <a href="/sign-up">Sign Up Instead</a>
</form>


<script src = "/javascript/login.js"></script>