:root {
  --primary: #c4dacb;
  --secondary: #9caea9;
  --tertiary: #788585;
  --light-dark: #6f6866;
  --dark: #2b221e;
  --border-radius: .3rem;
}

* {
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

body{
  background-color: var(--primary);
}

header {
  background-color: var(--dark);
  padding: 15px;
  padding-left: 40px;
  color: var(--primary);
}

header .btn-no-style{
  color: var(--primary);
  border: none;
  outline: none;
  background-color: var(--dark);
  font-size: 16px;
}

nav a{
  text-decoration: none;
  color: var(--primary);
  padding-right: 20px;
}

h1{
  font-size: 3rem;
  background-color: var(--primary);
  padding: 0 10px;
  display: inline-block;
  border-radius: var(--border-radius);
  box-shadow: 6px 5px var(--light-dark);
}

h1 a{
  text-decoration: none;
  color: var(--dark);
}

article{
  margin-bottom: 15px; 
}

.post{
  border: 3px solid var(--dark);
}

.post .title{
  background-color: var(--dark);
}

.post div{
  padding: 10px 15px;
}
div .title{
  padding: 0 10px;
}

.title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.title a{
  color: var(--light-dark);
  text-decoration: none;
}

.title a:hover{
  color: var(--primary);
}
.title .meta{
  color: var(--light-dark);
}

ul{
  list-style-type: none;
  padding-right: 40px; 
}

