:root {
  --primary: #c4dacb;
  --secondary: #9caea9;
  --tertiary: #788585;
  --light-dark: #6f6866;
  --dark: #2b221e;
}

/* global */
* {
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

body{
  background-color: var(--primary);
  position: relative;
}


/* header */
header {
  background-color: var(--dark);
  color: var(--primary);
  padding: 15px;
  padding-left: 40px;
}

header .btn-no-style{
  color: var(--primary);
  background-color: var(--dark);
  border: none;
  font-size: 16px;
  outline: none;
}

nav a{
  color: var(--primary);
  text-decoration: none;
  padding-right: 20px;
}

h1{
  background-color: var(--primary);
  border-radius: 3px;
  box-shadow: 6px 5px var(--light-dark);
  display: inline-block;
  font-size: 3rem;
  padding: 0 10px;
}

h1 a{
  color: var(--dark);
  text-decoration: none;
}

h2{
  margin-left: 20px;
}


/* post */
article{
  margin-bottom: 15px; 
}

.post{
  border: 3px solid var(--dark);
  border-radius: 8px;
}

.post .title{
  background-color: var(--dark);
  color: var(--primary);
}

.post div, .single-post div{
  padding: 10px 15px;
}

div .title{
  padding: 0 10px;
}

.title{
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title a{
  color: var(--light-dark);
  text-decoration: none;
}

.title a:hover{
  color: var(--primary);
}
.title .meta{
  color: var(--light-dark);
}

ul{
  list-style-type: none;
  padding-right: 40px; 
}

#new-post-btn{
  background-color: var(--dark);
  border: 3px solid var(--dark);
  border-radius: 8px;
  color: white;
  font-size: 16px;
  padding: 5px 20px;
  position: absolute;
  margin: 0 46%;
}


/* login/signup/edit-post forms */
.login-form, .signup-form, .new-post-form, .edit-post-form{
  border: 3px solid var(--dark);
  display: flex;
  flex-direction: column;
  margin: 20px;

}

.login-form .title, .signup-form .title, .new-post-form .title, .edit-title{
  background-color: var(--dark);
  color: var(--primary);
  padding: 10px 20px;
}

.login-form .input, .signup-form .input, .new-post-form input, .edit-post-form input{
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  margin-left: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.login-form button, .signup-form button, .new-post-form button, .edit-post-form button{
  background-color: var(--dark);
  border-color: var(--dark);
  border-radius: 8px;
  color: var(--secondary);
  margin-left: 20px;
  padding: 10px;
  text-align: center;
  width: 98%;
}

.login-form button:hover, .signup-form button:hover, .new-post-form button:hover{
  background-color: var(--tertiary);
  border-color: var(--tertiary);
  color: white;
}

.login-form a, .signup-form a{
  color: blue;
  margin: 10px 0;
  padding-left: 20px;
  text-decoration: none;
}


/* new-post-form */
.new-post-form .title{
  padding: 0 20px;
}

.post-form{
  margin-top: 20px;
}

.post-form label{
  padding-left: 20px;
  padding-top: 20px;
}

.post-form input{
  margin-left: 20px;
  width: 96%;
}

.new-post-form button{
  margin-bottom: 20px;
  margin-left: 20px;
  width: 96%;
  padding: 10px;
}


/* single-post */
.single-post{
  border: 3px solid var(--dark);
  border-radius: 8px;
  margin: 20px;
}

.single-post .title, .single-post .meta{
  background-color: var(--dark);
  color: var(--primary);
}


/* comment-form */
.comment-form{
  border: 3px solid var(--dark);
  border-radius: 8px;
  margin: 0 20px;
}

.comment-form #line-break{
  background-color: var(--dark);
  color: var(--dark);
  margin: 0;
  padding: 10px;
}

.comment-form p{
  margin-left: 20px;
}

.comment-form textarea{
  margin-bottom: 10px;
  margin-left: 20px;
  padding: 10px;
  width: 96%;
}

.comment-form button{
  background-color: var(--dark);
  border: 3px solid var(--dark);
  border-radius: 8px;
  color: var(--secondary);
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 10px;
  width: 96%;
}

.comment-form button:hover{
  background-color: var(--tertiary);
  border-color: var(--tertiary);
  color: white;
}


/* comments */
.comments #break{
  background-color: var(--dark);
  color: var(--dark);
  margin: 0;
  padding: 10px;
}

.comments .comment{
  padding: 20px;
}

.comments .comment div{
  padding: 5px;
}

.one-comment{
  border: 3px solid var(--dark);
  border-radius: 8px;
  margin: 20px;
}


/* edit-post form */
.edit-title{
  margin: 0;
}

.edit-post-form div{
  padding-top: 10px;
}

.edit-post-form label, .edit-post-form input{
  padding-left: 20px;
}

.edit-post-form input{
  width: 96%;
}

.edit-post-form button{
  margin: 5px;
}

.edit-post-form button:hover{
  background-color: var(--tertiary);
  border-color: var(--tertiary);
  color: white;
}